p {
    font-family: Dosis;
    font-size: 20px;
}



/* ABOUT-ME */

/* Jumbotron */
#about-jumbo {
    background: url(img/post/fireworks-post.jpg) no-repeat center;
    background-size: cover;
}


/* Quote */
#quote {
    text-align: center;
    font-size: 2rem;
    padding: 5%;
    font-family: Dosis;
    background: rgb(238, 238, 238);
}

/* Section Headers */
.section-header {
    font-family: Cardo;
    font-weight: 700;
    margin-bottom: 3%;
}

.sub-section-header {
    font-family: Cardo;
    font-weight: bold;
}


/* Home Headings */
#home-heading-1 {
    position: relative;
    min-height: 200px;
    background: url(img/sunset2.JPG);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 4%;
}

#home-heading-2 {
    position: relative;
    min-height: 200px;
    background: url(img/city.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Text inside home-heading */
.home-heading-text {
    font-weight: 500; 
    text-shadow: 0px 8px 13px rgba(0, 0, 0, 0.7);
}

/* Makes the home-heading image darker */
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


/* Image to the side of the descriptions */
.attribute img {
    width: 70%;
}

/* RESUME */
.resume-header {
    text-align: center;
    text-transform: uppercase;
    font-family: Cardo;
}

.description-header {
    text-decoration: underline;
    font-weight: bold;
}

.light {
    border: 1px solid white;
}

/* used on resume page for border around headings */
.gray {
    border: 1px solid gray;
    width: 100px;
}

.dark {
    border: 1px solid black;
    margin-top: 10%;
    margin-bottom: 10%;
}





#photography-jumbo {
    background: url(img/self.jpg) no-repeat center;
    background-size: cover;

}

#portfolio-jumbo {
    background: url(img/my-code.jpg) no-repeat center;
    background-size: cover;
}

#contact-jumbo {
    background: url(img/leaves.jpg) no-repeat center;
    background-size: cover;
}

.jumbotron {
    padding: 10rem 8rem;
    text-align: center;
    font-family: Lato;
    color: white;
}

.jumbotron .display-4 {
    font-weight: 800;
    box-sizing: border-box;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 10px rgba(0, 0, 0, 0.7);
}

.list-item {
    font-family: Dosis;
    font-size: 2rem;
}

/* FOOTER */

.end-footer {
    background-color: rgb(0, 0, 0);
    color: white;
}

footer a {
    color: white;
}

.footer-link {
    color: white;
}

a.footer-link:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header-photo {
    width: 100%;
    top: 38%;
}



@media screen and (min-width: 601px) {
    .jumbotron .display-4 {
        font-size: 80px;
    }
}

@media screen and (max-width: 600px) {
    .jumbotron .display-4 {
        font-size: 30px;
    }
}

.bg-dark {
    background-color: #000000 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
    font-family: Dosis;
    font-weight: 900;
    font-size: 25px;
}

.footer-icon {
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-icon:hover {
    color: white;
}

.form-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.form-subtext {
    font-size: 1rem;
}