body {
    background: url(img/sunset.jpg);
    background-size: cover;
    background-position: center;
}

html {
    height: 100%;
}

#name {
    text-align: center;
    padding-top: 25%;
    font-weight: 700;
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 10px rgba(0, 0, 0, 0.7);
}

#description {
    font-family: Dosis;
    color: white;
    font-size: 40px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 10px rgba(0, 0, 0, 0.7);
}

#light {
    border: 1px solid white;
    width: 600px;
}

.btn {
    text-align: center;
}

.bg-dark {
    background-color: #000000 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 25px;
}

@media screen and (max-width: 800px) {
    #name {
        text-align: center;
        padding-top: 25%;
        font-weight: 700;
        color: white;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
            0px 8px 10px rgba(0, 0, 0, 0.7);
        font-size: 4rem;
        padding-bottom: 5%;
    }
    #description {
        font-family: Dosis;
        color: white;
        font-size: 2rem;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
            0px 8px 10px rgba(0, 0, 0, 0.7);
    }

    #light {
        border: 1px solid white;
        width: 200px;
    }
}